{$SITE_DOMAIN} {
	reverse_proxy wordpress:80 {
		header_up Host {host}
		header_up X-Real-IP {remote}
		header_up X-Forwarded-For {remote}
		header_up X-Forwarded-Proto {scheme}
	}

	encode {
		zstd fastest
		gzip 6
		minimum_length 512
	}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options nosniff
		X-Frame-Options SAMEORIGIN
		Referrer-Policy no-referrer-when-downgrade
		Permissions-Policy "geolocation=(), microphone=(), camera=()"
		-Server
	}

	log {
		output stdout
		format console
	}
}
